release/**/*.app/** filter=lfs diff=lfs merge=lfs -text
*.framework/** filter=lfs diff=lfs merge=lfs -text
release/**/**/Electron[[:space:]]Framework filter=lfs diff=lfs merge=lfs -text
release/**/**/*.framework/**/* filter=lfs diff=lfs merge=lfs -text
